//NEWUSER  JOB (TSO),
//             'New User',
//             CLASS=S,
//             MSGCLASS=A,
//             REGION=8192K,
//             MSGLEVEL=(1,1),
//             USER=IBMUSER,PASSWORD=SYS1
//NEWUSER EXEC TSONUSER,ID=##NEWUSER##,   This will be the logon ID
//        PW='SYS1',
//        OP='OPER',             Allow operator authority
//        AC='ACCT'              Allow ACCOUNT TSO COMMAND